<form method="POST" action="/recipes/<%= @recipe.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>
        <label for="name">Name:</label> <br/>
        <input id="name" type="text" name="recipe[name]" value="<%= @recipe.name %>">
    </p>
    <p>
        <label for="ingredients">Ingredients:</label> <br/>
        <input id="ingredients" type="text" name="irecipe[ngredients]" value="<%= @recipe.ingredients %>">
    </p>
    <p>
        <label for="name">Cook Time:</label> <br/>
        <input id="cook_time" type="text" name="recipe[cook_time]" value="<%= @recipe.cook_time %>">
    </p>

    <input type="submit">
</form>