<h1>Create a New Recipe!</h1>
<form method="post" action="/recipes">
  <p>Recipe Name: <input type=text name="name"></p>
  <p>Ingredients: <input type=text name="ingredients"></p>
  <p>Cook Time In Minutes: <input type=number name="cook_time"></p>
  <input type=submit>
  <input>
</form>